#[Component]
*.suo
*.nupkg
*.bat
*.out
*.csproj.user

#TestResults
TestResults
*.trx
*.coverage
*.dll
*.pdb

#SVN
.svn
.svn-base
all-wcprops
dir-prop-base
entries

#[Component]\Base
bin
DesignerGenerated
obj

#others
*.cache
*.psess
*.vsp
!External_API/*
packages
Import Schema Logs
*.jfm
*.dbmdl
Debug
Release
.vs
UpgradeLog.htm
!DB.Service/*.bat
*.pubxml.user